#image{
	width: 90%;
	margin: 0 auto;	
}
#ruleta {
    text-align: center;  
  }

  .rotate {
	transition: transform 2s  ;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
  background-color:#32cf78!important ;
}

.swal2-title{
  color:white!important;
  padding:0px!important;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: bold!important;
}

#ruleta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.centro {
  position: absolute;
  width: 25vw; /* o el tamaño de tu imagen del centro*/
  height:25vw; /* o el tamaño de tu imagen del centro */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


#centroRuleta{
  width: 23vw;
  position:absolute;
  top:38vh;
  left:38.5vw;
  z-index: 2;

}
#volver {
  position: fixed;
  top: -4px;
  left: 10px;
  
}

.feedback {
  position: fixed;
  background-color: #32cf78;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  bottom: 0px;
  left: 0px;
}

.feedback2 {
  position: fixed;
  background-color: #32cf78;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  top: 0px;
  left: 0px;
}

.feedback3 {
  position: fixed;
  background-color: #32cf78;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  bottom: 0px;
  left: 250px;
}

#terminar {
  position: relative;
  bottom: -4px;
  left: 10px;
}

#music {
  position: absolute;
  bottom: -4px;
  right: 1px;
}


.arrow {
  position: absolute;
  top:1vw;
  right: 45vw;
margin: 0;
 /* right: 30vw; /* Ajusta el valor según sea necesario */
  font-size: 100px;
  color: orange; /* Cambiar a color naranja */
 /*transform: rotate(20deg); /* Rotar 45 grados */
  z-index: 1000;
}

body {
  background-image: url("./RULETA\ B\ PLAY\ FINAL\ 2.jpg");
  background-color: black; /* Usado si la imagen no está disponible */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el body */
  height: 100vh;
  margin: 0; /* Elimina el margen predeterminado del body */
  overflow: hidden;
}


#seccionRuleta{
margin-top: 7vh;
  position: absolute;
  top: 15%;
}



.custom-modal {
  margin-top: 50vh;
  position: fixed;
  height: 50vh!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ocultar el botón de cierre */
.modal-header .close {
  display: none;
}
#ganasteModalLabel{color: black!important;}
#seguirModalLabel{color: black!important;}
#texto-modal{color: black!important;}